body {
    --contrast: #2b303b;
    --contrast-med: #777777;

    --background: #ffffff;
    --background-med: #f4f5f7;

    --border: #eceff3;

    --accent: #ed1249;
    --accent-trans: #ed124957;
}

@mixin dark() {
    --contrast: #f7f9fc;
    --contrast-med: #e3e3e9;

    --background: #111622;
    --background-med: #191e2c;

    --border: #212633;

    --accent: #ff6d91;
    --accent-trans: #ff6d9167;
}

body {
    &.dark {
        @include dark;
    }

    @media (prefers-color-scheme: dark) {
        &:not(.light) {
            @include dark;
        }
    }
}
