// headers
h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-bottom: 12px;
	line-height: 1.2;
	color: #414142;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

body {
	overflow-wrap: break-word;
}

.header-image {
	height: 50vh;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}

a.header-link {
	text-decoration: none;
	color: #414142;
	transition: 0.2s color ease;

	&:hover {
		color: black;
	}
}

p, ul, ol {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	line-height: 1.7;
	font-size: 16px;
	text-align: justify;
	margin-bottom: 16px;
}

section {
	margin: 46px 0;
}	
.date, .info {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 12px;
	color: grey;	
}

hr {
	height: 1px;
	width: calc(100% - 96px);
	background: #edeeef;
	height: 1px;
	border: none;
	margin-bottom: 48px;
}

.title-and-info {
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 16px;
	}
	margin-bottom: 36px;
}

.container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;

	// margin for text elements but not media
	p, h1, h2, h3, h4, h5, h6, span, ul, ol {
		padding: 0 48px;
	}

	article {
		h1,h2,h3,h4,h5,h6 {
			margin-top: 36px;
			margin-bottom: 12px;
		}
		h1 {
			font-size: 36px;
		}
		h2 {
			font-size: 24px;
		}
		h3,h4,h5,h6 {
			font-size: 18px;
		}
	}

	pre span {
		padding: 0 0;
	}
}

.container img {
	display: block;
	opacity: 0;
	border-radius: 4px;
	-webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
    animation: 0.5s ease 0s normal forwards 1 fadein;
    margin: 36px 0;
}

img.loaded {
	opacity: 1;
}

@keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    100% { opacity:1; }
}

pre, code {
  font-family: "Lucida Console", Monaco, monospace;
}

pre {
  display: block;
  margin: 36px 0;
  padding: 36px 48px;
  border-radius: 4px;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}

// inline code
code {
  white-space: pre;
  white-space: pre-wrap;
  background: #edeef2;
  border-radius: 4px;
  padding: 2px 6px;
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

.info {
	padding: 0 48px;
	span {
		padding: 0px;
	}
	.divider:before {
		padding: 0 8px;
		content: "•";
	}
}

 a {
 	font-weight: bold;
 	color: #ed1249;
 	text-decoration: none;
 }

 ::selection {
  background: rgba(237, 18, 73,0.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(237, 18, 73,0.5); /* Gecko Browsers */
}

			
ul, ol {
	p {
		padding: 0 0 !important;
	}
}

@media (max-width: 500px){
	hr {
		width: calc(100% - 32px);
	}
	.container {
		// margin for text elements but not media
		p, h1, h2, h3, h4, h5, h6, span, ul, ol {
			padding: 0 16px;
		}
	}
	.info {
		padding: 0 16px;
	}
}
