{% import "macros.html" as m %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <!-- css -->
    <noscript>
        <style>
            .theme-switcher {
                display: none;
            }
        </style>
    </noscript>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/feather.css">
    {# If theme switching is not disabled #}
    {% if not config.extra.feather_theme %}
    <link rel="stylesheet" href="/syntax-theme-light.css" media="screen" />
    <link rel="stylesheet" href="/syntax-theme-dark.css" media="screen and (prefers-color-scheme: dark)" />
    {# If a specific theme is requested, theme switching will disable... #}
    {% elif config.extra.feather_theme == "light" %}
    <link rel="stylesheet" href="/syntax-theme-light.css" media="screen" />
    {% elif config.extra.feather_theme == "dark" %}
    <link rel="stylesheet" href="/syntax-theme-dark.css" media="screen" />
    {% endif %}

    <link rel="stylesheet" id="syntax" />

    {% if config.extra.feather_head %}
    {{ config.extra.feather_head | safe }}
    {% endif %}

    {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path=" rss.xml", trailing_slash=false)
        }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body {% if not config.extra.feather_theme %}{% elif config.extra.feather_theme=="dark" %} class="dark" {% else %}
    class="light" {% endif %}>
    <div class="root">

        <nav>
            <div class="flex padded">
                <div class="flex fill vcenter">
                    <a href="/">
                        <h4>{% if config.title %}{{ config.title }}{% else %}Home{% endif %}</h4>
                    </a>
                </div>
                {% if not config.extra.feather_theme %}
                <button class="theme-switcher">theme</button>
                {% endif %}
            </div>
            {% if not config.extra.feather_hide_nav_image %}
            <div class='header-image' style='background-image: url(/theme_images/default.gif);'>
            </div>
            {% endif %}
        </nav>



        {% block content %}
        <div class="container">
            <div class="posts">
                {% for page in section.pages %}
                {% if not page.extra.hidden %}
                <div class="post">
                    <div class='info'>
                        <span>{{ page.date | date(format="%Y %b %d") }}</span>
                    </div>
                    <a class='header-link' href="{{ page.path }}">
                        <h4 class="title"> {{ page.title }} </h4>
                    </a>
                    <p>
                        {{ page.content | safe | striptags | truncate }}
                    </p>
                    {{ m::tags(taxonomy=page.taxonomies['tags']) }}
                </div>
                <hr />
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endblock content %}

        <footer>
            {% block footer %}
            <p>
                Feather theme by <a href="https://doomy.org">doomy</a>&nbsp;&nbsp;-&nbsp;&nbsp; Built with <a
                    href="https://getzola.org">Zola</a>
            </p>
            {% endblock footer %}
        </footer>

        {% if not config.extra.feather_theme %}
        <script>
            function change_theme(theme) {
                if (theme == "light") {
                    document.body.classList.remove("dark");
                    document.body.classList.add("light");
                    document.querySelector('#syntax').href = '/syntax-theme-light.css';
                } else if (theme == "dark") {
                    document.body.classList.add("dark");
                    document.body.classList.remove("light");
                    document.querySelector('#syntax').href = '/syntax-theme-dark.css';
                }
                localStorage.setItem("theme", theme);
            }

            window.addEventListener('load', () => {
                // Select the button
                const theme = (function () {
                    const stored = localStorage.getItem("theme");
                    if (stored == "null") {
                        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                            return "dark";
                        } else {
                            return "light";
                        }
                    } else {
                        return stored;
                    }
                })();

                change_theme(theme);

                // Listen for a click on the button
                document.querySelector(".theme-switcher").addEventListener("click", function () {
                    if (!document.body.classList.contains("dark")) {
                        change_theme("dark");
                    } else {
                        change_theme("light");
                    }
                });

            });
        </script>
        {% endif %}
    </div>
</body>

</html>
