<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- css -->
      <link rel="stylesheet" href="{{ get_url(path="", trailing_slash=false) }}reset.css">
      <link rel="stylesheet" href="{{ get_url(path="", trailing_slash=false) }}feather.css">

      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">

      <!-- js -->
      <script src='{{ get_url(path="js", trailing_slash=false) }}images.js'></script>
      <script src='{{ get_url(path="js", trailing_slash=false) }}main.js'></script>

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>

    <a href="/">
      <div class='header-image' style='background-image: url({% if config.extra.feather_header_image %}{{ config.extra.feather_header_image }}{% else %}/theme_images/default.gif{% endif %});'></div>
    </a>

    {% block content %}
    <div class="container">
      <div class="posts">
        {% for page in section.pages %}
            <section>
              <a class='header-link' href="{{ page.permalink }}">
                <h3 class="title"> {{ page.title }} </h3>
              </a>
              <p> 
                {{ page.content | striptags | truncate }} 
              </p>
              <span class="date">{{ page.date | date(format="%d %B %Y") }}</span>
            </section>
          <hr/>
        {% endfor %}
      </div>
    </div>
    {% endblock content %}

    </body>

</html>