{% macro chapter(prev=false, next=false) %}
{% if prev or next %}
<div class="chapter">
    {% if prev %}
    {% set page = get_page(path=prev) %}
    <a href="{{page.permalink}}">← {{page.title}}</a>
    {% else %}
    {# always push `next` over #}
    <div></div>
    {% endif %}

    {% if next %}
    {% set page = get_page(path=next) %}
    <a href="{{page.permalink}}">{{page.title}} →</a>
    {% endif %}
</div>
{% endif %}
{% endmacro chapter %}

{% macro tags(taxonomy, base="tags") %}
{% set taxonomy_properties = get_taxonomy(kind="tags") %}
<div class='flex gap-small'>
    {% for tag in taxonomy %}
    {% set url = get_taxonomy_url(kind="tags", name=tag) %}
    <a href="{{url}}"><span class="chip">{{ tag }}</span></a>
    {% endfor %}
</div>
{% endmacro tags %}