{% extends "index.html" %}

{% block content %}
<div class='container'>
  <section class="post">
  	<div class="title-and-info">
    	<h2>{{ page.title }}</h2>
    	<div class="info">
    		<span>{{ page.reading_time }} minute read</span>
    		{% if page.date %}
    			<span class='divider'/>
    			<span>{{ page.date | date(format="%d %B %Y") }}</span>
    		{% endif %}
    		{% if page.category %}
    			<span class='divider'/>
    			<span>{{ page.category }}</span>
    		{% endif %}
    		
    	</div>
    </div>
  	<article>
  		{{ page.content | safe }}
  	</article>
  </section>

  {% if config.extra.disqus_code %}
    {{ config.extra.disqus_code | safe }}
  {% endif %}

</div>
{% endblock content %}